<div style="background: lightgray">
  <div class="main-about-me" style="background: lightgray;">
    <div style="width: 100%; height: 100px;">

    </div>
    <div class="intro-main">
      <div class="intro-card" style="display: block; background: white;">
        <!-- <div style="width: 40%; height: 300px; border-style: groove;border-width: 0px 1px 0px 0px;">
          
          <div style="height: 300px; width: 100%">
            <img src="../../../../assets/yash-main.JPG" height="100%" width="100%">
          </div>
           <div style="height: 200px; width: 100%; background: white;">
            <p style="margin: 0px !important;">
              DEMO CONTENT 
            </p>
        </div> -->
        <!-- </div>
        <div style="width: 60%; background:white">
          <h3
            style="text-transform: uppercase; font-size: 20px; font-weight: 700; color: lightgray; text-align: center; line-height: 70px;">
            Yash Shah</h3>
            <hr style="margin-left: 80px; margin-right: 80px; size:10px;">
          Developer
        </div> -->
        <div style="width: 100%; height: 200px;">
          <img src="../../../../assets/coding.jpg" height="100%" width="100%" />
        </div>
        <div style="text-align: -webkit-center; margin-top: -98px;">
          <div class="circle">
            <img src="../../../../assets/yash-main.JPG" alt="" height="100%" width="100%">
          </div>
        </div>
        <div  style="display: grid;">
          <i class="fa fa-envelope"> Yashshh123@gmail.com</i> 
          <i class="fa fa-phone"> 9079888419</i> 
        </div>
      </div>
    </div>
    <div class="skill-main">
      <div class="skill-card">
        <div style="display: flex; padding: 30px;">
          <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80"
            [outerStrokeWidth]="8" [innerStrokeWidth]="8" [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false"
            [animation]="true" [animationDuration]="300">
          </circle-progress>
          <!-- <div class="circle">
            <img src="../../../assets/java.png" class="icon" />
          </div>
          <div class="circle">
            <img src="../../../assets/javascript.jfif" class="icon" />
          </div>
        </div>
        <div style="display: flex; padding: 30px;">
          <div class="circle">
            <img src="../../../assets/html.png" class="icon" />
          </div>
          <div class="circle">
            <img src="../../../assets/primeng.png" class="icon" />
          </div>
          <div class="circle">
            <img src="../../../assets/css.png" class="icon" />
          </div>
        </div> -->
          <!-- <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80"
          [outerStrokeWidth]="8" [innerStrokeWidth]="8" [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false"
          [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80"
          [outerStrokeWidth]="8" [innerStrokeWidth]="8" [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false"
          [animation]="true" [animationDuration]="300">
        </circle-progress> -->
          <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80"
            [outerStrokeWidth]="8" [innerStrokeWidth]="8" [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false"
            [animation]="true" [animationDuration]="300">
          </circle-progress>
        </div>
      </div>
    </div>
  </div>