<!-- <div class="main-about-me" style="background: white;">
  <div class="intro-main">
    <div class="intro-card">
      <div style="margin-left: 30px; width: 50%; height: 400px;">
        <img src="../../../../assets/yash-main.JPG" height="100%" width="100%">
      </div>
      <div style="width: 50%; background: lightgrey">

      </div>
    </div>
  </div>
  <div class="skill-main">
    <div class="skill-card">
        <div style="display: flex; padding: 30px;">
            <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false" [animation]="true" [animationDuration]="300">
            </circle-progress>
            <div class="circle">
              <img src="../../../assets/java.png" class="icon" />
            </div>
            <div class="circle">
              <img src="../../../assets/javascript.jfif" class="icon" />
            </div>
          </div>
          <div style="display: flex; padding: 30px;">
            <div class="circle">
              <img src="../../../assets/html.png" class="icon" />
            </div>
            <div class="circle">
              <img src="../../../assets/primeng.png" class="icon" />
            </div>
            <div class="circle">
              <img src="../../../assets/css.png" class="icon" />
            </div>
          </div>
      <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false" [animation]="true" [animationDuration]="300">
      </circle-progress>
      <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false" [animation]="true" [animationDuration]="300">
      </circle-progress>
      <circle-progress [percent]="85" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [radius]="80" [outerStrokeWidth]="8" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f90c0c'" [showInnerStroke]="false" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
  </div>
</div> -->