<div class="side-menu" style="width: 80px; background: black;">
  <i id="hide-sidemenu" class="fa fa-times hide-sidemenu" style=" font-size:1.2em; color: black; padding:15px; margin-left: 70px; z-index: 1001;"></i>
  <i class="fa fa-home" style=" font-size:2.2em; color: white; padding:22px; "></i>
  <i class="fa fa-user" style=" font-size:2.2em; color: white; padding:22px;"></i>
  <i class="fa fa-tasks" style="font-size:2.0em; color: white; padding:22px;"></i>
  <i class="fa fa-envelope" style=" font-size:2.0em; color: white; padding:22px;"></i>
</div>>