.circle {
    width: 200px;
    height: 200px;
    background: white;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    display:table-cell; 
    vertical-align:middle;
    text-align:center;
    margin: auto !important;
}
.icon {
    width: 100px;
    height: 100px;
    margin-top: 45px;
}
.header {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    font-weight: 1000;
    font-family: sans-serif;
    color: lightslategray;
}
.icon:hover {
    opacity: 0.1;
    background: lightgray;
    z-index: 999;
}
.circle:hover {
    opacity: 0.1;
    background: darkslategrey;
    z-index: 1000;
}
	