<div style="width: 100%; height: 100%; background:rgb(227, 228, 229);">
  <div class="header">
    Technology
  </div>

  <hr style="margin-top: 100px; margin-left: 40px; margin-right: 40px; ">

  <div style="display: flex; padding: 30px;">
    <div class="circle">
      <img src="../../../assets/angular.png" class="icon" />
    </div>
    <div class="circle">
      <img src="../../../assets/java.png" class="icon" />
    </div>
    <div class="circle">
      <img src="../../../assets/javascript.jfif" class="icon" />
    </div>
  </div>
  <div style="display: flex; padding: 30px;">
    <div class="circle">
      <img src="../../../assets/html.png" class="icon" />
    </div>
    <div class="circle">
      <img src="../../../assets/primeng.png" class="icon" />
    </div>
    <div class="circle">
      <img src="../../../assets/css.png" class="icon" />
    </div>
  </div>
</div>