<div style="display: flex">
  <div style="width: 50%; height: 600px; background-color: rgb(83, 86, 93); display:flex;">
    <img src="../../../assets/yash-dp.jpg.jpg" style="display: block; margin: auto;">
  </div>
  <div style="width: 50%; height: 600px; background-color: rgb(83, 86, 93); display: flex;">
    <div class="center">
       <div class="top-side-radius" style="width: 400px; height: 50px; background-color: darkgray; display: table-cell; vertical-align: middle;">
        <div style="display: flex;">
          <div class="dot">
          </div>
  
          <div class="dot" style="background: black;">
          </div>
  
          <div class="dot" style="background: grey;">
          </div>
         </div>
        </div>
       <div class="bottom-side-radius" style="width: 400px; height: 300px; background-color: black;">
       </div>
    </div>

  </div>
</div>